<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid row">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="col-md-4">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">全栈营</a>
      </div>


    </div>
    <div class="col-md-4">
      <p class="text-center">
        Meetup
      </p>
    </div>
    <div class="col-md-4">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" >
          <li>
            <% if !current_user %>
              <li><%= link_to("登入", new_user_session_path, class: "btn log-in-btn") %></li>
              <li><%= link_to("注册", new_user_registration_path, class: "btn sign-up-btn") %></li>
            <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <% if current_user.name.present? %>
                   Hi, <%= image_tag(current_user.avatar.url)%>
                  <% else %>
                   Hi, <%= current_user.email %> !
                  <% end %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to("My Groups", account_groups_path) %></li>
                  <li><%= link_to("My Posts", account_posts_path) %></li>
                  <li class="divider"></li>
                  <li><%= link_to("登出", destroy_user_session_path, method: :delete) %></li>
                </ul>
              </li>
            <% end %>
          </li>
        </ul>
      </div>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- /.nvbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
